<tr style="height: 75px;">
  <td style="text-align: center; border: 1px solid black;"><b><%= participant.user.full_name %></b></td>
  <td style="border: 1px solid black;"></td>
  <td style="border: 1px solid black;"></td>
</tr>