<div class="container">
  <h1>Current Events</h1>
  <% if can? :manage, Event %>
    <%= link_to 'Create A New Event', new_event_path, class: 'btn btn-outline-primary btn-block' %>
  <% end %>
  <%= render @events or 'No Events currently posted.' %>
</div>