<ul class="nav nav-tabs">
  <li class="nav-item">
    <%= link_to "Dashboard", admin_dashboard_path, class: 'nav-link' %>
  </li>
  <li class="nav-item">
    <%= link_to "Users", admin_users_path, class: 'nav-link' %>
  </li>
</ul>