<div class="container">
  <%= render 'menu' %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Full Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Rank</th>
        <th>Deactivated?</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'user', collection: @users %>
    </tbody>
  </table>
</div>

